body {
	text-align: center;
	margin-top: 250px;
	background-color: #FF8800;
	color: #FFFFFF;
	font-family: Arial }
h1 {
    	font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
	font-size: 300%
}
p {
	font-size: 200%;
}
