body {
	position: center;
	background-color: #FF8800;
	color: #FFFFFF;
	font-family: Arial }
h1 {
    	font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
	font-size: 200%
}
p {
	font-size: 100%;
}
